@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lí sách</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/CSS/Style.css" />
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>Quản lí sách</h1>
    </header>

    @if (ViewBag == null)
    {
        <h1>vchfdlkjsfkds</h1>}
    else
    {
        <p>@ViewBag.a</p>
    }
    </body>
